        <!DOCTYPE html>
        <html lang="en" dir="ltr">
            <head>
                <meta charset="utf-8">
                <title>News Evaluator</title>
             

            </head>

            <body>
            <!-- header -->
                <header>
                    <div class="header">
                        NewsEvaluator-Nlp
                    </div>
                
                </header>
                    
                <!-- main -->
                <main>
                    <section>
                        <form class="" onsubmit="return handleSubmit(event)">
                            <input id="name" type="text" name="input" value=""  placeholder="Please enter valid URL">
                            <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                        </form>
                    <section>

                    <section>
                       <div> <strong class = "results">Form Results:</strong></div>
                        <div id = "errorContent"></div>
            
                        <div><strong>Polarity:</strong><span id="Polarity"></span></div>
                        <div><strong>polarity confidence:</strong><span id="Polarity-con"></span></div>
                        <div><strong>subjectivity confidence:</strong><span id="Subjectivity-con"></span></div>
                    </section>
                </main>

                <footer>
                    <p>@COPYRIGHT2020  NewsEvaluator-Nlp || PRIVACY</p>
                </footer>
                
                <script>
                    
                    // Check that service workers are supported
                    if ('serviceWorker' in navigator) {
                        
                        // Use the window load event to keep the page load performance
                        window.addEventListener('load', () => {
                            navigator.serviceWorker.register('/service-worker.js');
                        });
                    }
                </script>

            

            </body>
        </html>
