        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 2;
        }

        section {
            max-width: 800px;
            margin: 50px auto;
            .results {
                font-size: 1.6em;
            }
            #errorContent{
                padding: 10px 10px;
                color: red;
                font-size: 1em;
            }
        }
